.get-in-touch-wrapper{
  display: flex;
  justify-content: center;
  padding: 0 200px 0 200px;
}

.get-in-touch{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 0 30px 0;
  width: 1526px;
}

.get-in-touch__title{
  color: var(--blue);
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.get-in-touch__title--red{
  color: var(--red);
  margin-bottom: 30px;
}

.form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0 4px;
  height: 210px;
  margin-bottom: 20px;
  width: 800px;
}

.form-inputs{
  display: flex;
  flex-wrap: wrap;
  gap: 0 5px;
}
.form-inputs-left{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form__item{
  background-color: var(--grey-light);
  border: none;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  height: 50px;
  padding: 15px;
  outline: none;
  width: 400px;
}

.form__item::placeholder{
  color: rgba(0,0,0,0.4);
}

.form__item--text{
  height: 160px;
  width: 395px;
}

.form__button{
  background-color: var(--red);
  border: none;
  border-radius: 5px;;
  color: var(--white);
  cursor: pointer;
  padding: 15px;
  transition: all 0.7 ease-in;
}

.form__button:hover{
  background-color: var(--red-light);
}