.greeting-wrapper{
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0 200px 0 200px;
}

.greeting{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 215px;
  margin: 50px 0 50px 0;
  width: 1536px;
}

.greeting__welcome{
  width: 500px;
}

.greeting__title{
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  color: var(--blue);
  font-weight: 500;
  text-transform: uppercase;
}

.greeting__title--red{
  color: var(--red);
}

.greeting__title--red::after{
  background: currentColor;
  border-radius: 10px;
  content: '';
  display: block;
  height: 4px;
  margin: 15px 0 15px 0;
  width: 500px;
}

.greeting__text{
  color: rgba(0,0,0,0.5);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 15px;
  text-align: justify;
}

.greeting__button{
  background-color: var(--red);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  padding: 15px;
  transition: all 0.7 ease-in;
  width: 140px;
}

.greeting__button:hover{
  background-color: var(--red-light);
}

.greeting-img-container{
  height: 280px;
  width: 400px; 
}

.greeting-img-container__image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}