.map-wrapper{
  margin: 0 auto;
  max-width: 1526px;
}

.map-content {
  position: relative;
  text-align: right;
  height: 400px;
  width: 100%;
}

.gmap_canvas {
  overflow: hidden;
  background: none;
  height: 400px;
  width: 100%;
}