:root{
  --acqua: #059685;
  --acqua-light: #06c4ad;
  --blue:#033364;
  --blue-light: #017bee;
  --green-whatsapp: #299e37;
  --green-whatsapp-light: #2eb93f;
  --grey-light: #F3F5F4;
  --orange: #d85c0f;
  --red: #8a0311e8;
  --red-light: #ac0213e8;
  --white: #ffffff;
}